body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

a {
  color: #4ea1ff;
  text-decoration: none;
}

a:hover {
  color: #82b1ff;
}

h1 {
  color: #4ea1ff;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 250px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}